<%- include('../views/top', {tieude:"Trang chủ"}) %>
    <div class="col-4"></div>
    <div class="col-4" style="margin: 100px;">
        <p>
            Fullname: <%= fullname %>
        </p>
        <p>
            Username: <%= username %>
        </p>
        <p>
            Password: <%= password %>
        </p>
        <p>
            Email: <%= email %>
        </p>
        <p>
            Group: <%= group %>
        </p>
    </div>
    <div class="col-4"></div>

    <%- include('../views/bottom') %>